.layout-style {
  display: flex;
  justify-content: center;
}

.children-container {
  width: 50%;
  display: flex;
  align-items: center;
  border: 1px dashed black;
  padding: 20px;
  flex-direction: column;
  border-top: 5px solid cyan;
}
